@import url('https://fonts.googleapis.com/css?family=Monoton');

.h1Container{
    font-family: 'Monoton', cursive;
    margin: 40px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 0 transparent,
                0 0 10px #c5c6c8,
                0 0 20px rgb(94,95,97),
                0 0 40px #c5c6c8,
                0 0 100px #c5c6c8,
                0 0 200px #c5c6c8,
                0 0 300px #c5c6c8;
    animation: animate 3s infinite alternate;    
}
.contenedorContador{
    background-color: #cdccca;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.contadorCarrito{
    padding: 10px;
    margin-left: 25%;
    text-transform: uppercase;
}

.btnCarrito{
    padding: 10px;
}
.btnCarrito:hover{
    background-color: white;
    transition: all 0.4s;
}

.btnCarrito i{
    font-size: 20px;
}

.btnAddCarrito{
   padding: 10px;
   text-transform: uppercase;
}
.contenedorAddCarrito:hover{
   background-color: #cdccca;
   border-bottom-left-radius: 10px ;
   border-bottom-right-radius: 10px ;
}
