@import url('https://fonts.googleapis.com/css?family=Monoton');

.h1Container{
    font-family: 'Monoton', cursive;
    margin: 40px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 0 transparent,
                0 0 10px #ff003c,
                0 0 20px rgba(255, 0, 60, 0.5),
                0 0 40px #ff003c,
                0 0 100px #ff003c,
                0 0 200px #ff003c,
                0 0 300px #ff003c;
    animation: animate 3s infinite alternate;    

}

.contadorCarrito{
    color: white;
}

.btnCarrito{
    padding: 3px;
    border-radius: 70%;
    margin: 30px;
    box-shadow: 0 0 0 2px white;
}
.btnCarrito:hover{
    background-color: white;
    transition: all 0.4s;
}

.btnCarrito i{
    font-size: 20px;
    color: white;
}

.btnCarrito i:hover{
    color: black;
}
.btnAddCarrito{
    padding: 15px;
    box-shadow: 0 0 0 2px white;
    color: white;
    border-radius: 20px;
}
.btnAddCarrito:hover{
    padding: 15px;
    box-shadow: 0 0 0 2px white;
    background-color: white;
    color: black;
    transition: all 0.7s;
}