::-webkit-scrollbar {
    display: none;
}
.divContenedorCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.probando{
    display: grid;
    grid-template-columns: 37% 37% 37%;
}
.cardSection{
    width: 60%;
    margin-left: 5%;
    margin-top: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 0 5px #cdccca;
}
.cardImg{
    width: 100%;
    padding: 10px;
}
.cardImg img{
    margin-left: 8%;
    padding: 20px;
}
.cardPrice{
    font-size: larger;
}
.cardTitle{
    background-color: #cdccca;
    width: 100%;
    padding: 20px;
    font-size: xx-small;
    height: 70px;
}
