/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR
NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR
NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

#logoNavBar{
    color: gray;
    font-size: 40px;
}

.logoTitulo{
    text-transform: uppercase;
    font-size: x-large;
    color: gray;
}